page-home {
    .slide{
        width: 290px;
        height: 485px;
        margin-left: 30px;
      
    }
    .titulo{
        margin-left: 30px;
        margin-top:20px;
        font-size: 22px;
        margin-bottom: 0px
    }
}
